body {
  margin: 0;
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  color: gray;
  text-decoration: none;
  transition: .2s ease-in-out;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
  transition: .3s ease-in-out;
}

a:active {
  color: black;
  text-decoration: underline;
}
